{{ if not (eq .Site.Params.dark "on") -}}
@media (prefers-color-scheme: dark) {
{{ end -}}

body {
    color: var(--bright-color);
    background: var(--dark-color);
}

header#banner a {
    color: var(--bright-color);
    text-decoration: none;
}

header#banner nav ul li a {
    color: var(--link-color);
}

main#content a {
    color: var(--link-color);
}

main#content p {
    color: var(--bright-color);
}

main#content hr {
    background: #5c5c5c;
}

main#content #toc h4 {
    color: #d4d4d4;
}

main#content ul#posts small {
    color: var(--light-text-color);
}

main#content ul#posts li a:hover {
    color: var(--link-highlight-color);
}

main#content header#post-header time {
    color: var(--light-text-color);
}
{{- if not (eq .Site.Params.dark "on") -}}
}
{{- end -}}
