@media (min-width: 770px) {
body {
    width: 600px;
    line-height: 1.5;
}

main#content hr {
    width: 108%;
    margin-left: -3.8%;
}

/* index.html styles */
header#banner h2 {
    font-size: 25px;
    font-size: 2.5rem;
}

main#content h3 {
    font-size: 20px;
    font-size: 2rem;
}

/* single.html styles */
main#content header#post-header h1 {
    font-size: 26px;
    font-size: 2.3rem;
}

main#content img {
    max-width: 104%;
    margin-left: -2%;
}

main#content figure {
    margin-left: -2%;
}

main#content figure img {
    max-width: 104%;
}

main#content pre {
    width: 104%;
    margin-left: -2%;
    padding: 1.5rem 2.2rem;
}
}
